Repository JellyfishSDK/salmon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @monstrobishi
/.husky/                                        @fuxingloh
/.idea/                                         @fuxingloh

/packages/                                      @fuxingloh @monstrobishi @canonbrother @jingyi2811

lerna.json                                      @fuxingloh @monstrobishi @canonbrother
tsconfig.json                                   @fuxingloh @monstrobishi @canonbrother
jest.config.js                                  @fuxingloh @monstrobishi @canonbrother
package.json                                    @fuxingloh @monstrobishi @canonbrother
package-lock.json                               @fuxingloh @monstrobishi

CONTRIBUTING.md                                 @fuxingloh @canonbrother @jingyi2811
README.md                                       @fuxingloh @monstrobishi
LICENSE                                         @fuxingloh

Bump defichain dependencies
  package-lock.json
Owners: @fuxingloh, @monstrobishi

Refactored and added more tests
  packages/salmon-oracles-functions/__tests__/basic_oracle.test.ts
  packages/salmon-oracles-functions/__tests__/index.test.ts
  packages/salmon-oracles-functions/__tests__/test.utils.ts
  packages/salmon-oracles-functions/src/index.ts
  packages/salmon-price-functions/__test__/config.test.ts
  packages/salmon-price-functions/__test__/fetch_asset_prices.test.ts
  packages/salmon-price-functions/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-price-functions/package-lock.json
  packages/salmon-price-functions/package.json
  packages/salmon-price-functions/src/index.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Added coverage exceptions
  packages/salmon-oracles-functions/jest.config.js
Owners: @fuxingloh, @monstrobishi, @canonbrother

Update jest.config.js
  jest.config.js
Owners: @fuxingloh, @monstrobishi, @canonbrother

Update jest.config.js
  packages/salmon-oracles-functions/jest.config.js
Owners: @fuxingloh, @monstrobishi, @canonbrother

Bump defichain dependencies (#26)
  package-lock.json
Owners: @fuxingloh, @monstrobishi

Cleaned up jest config
  jest.config.js
  packages/salmon-lambda-functions/jest.config.js
  packages/salmon-oracles-functions/jest.config.js
  packages/salmon-price-functions/jest.config.js
Owners: @fuxingloh, @monstrobishi, @canonbrother

Added basic oracle test
  packages/salmon-oracles-functions/__tests__/index.test.ts
  packages/salmon-oracles-functions/src/index.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Added basic oracle test
  packages/salmon-oracles-functions/__tests__/basic_oracle.test.ts
  packages/salmon-oracles-functions/__tests__/test.utils.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Added JS doc
  packages/salmon-oracles-functions/src/index.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Cleaned up jest config (#32)
  jest.config.js
  packages/salmon-lambda-functions/jest.config.js
  packages/salmon-oracles-functions/jest.config.js
  packages/salmon-price-functions/jest.config.js
Owners: @fuxingloh, @monstrobishi, @canonbrother

Added JS doc
  packages/salmon-oracles-functions/src/index.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Added basic oracle test
  packages/salmon-oracles-functions/__tests__/index.test.ts
  packages/salmon-oracles-functions/src/index.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Added basic oracle test
  packages/salmon-oracles-functions/__tests__/basic_oracle.test.ts
  packages/salmon-oracles-functions/__tests__/test.utils.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Update oss-governance-labeler.yml
  .github/workflows/oss-governance-labeler.yml
Owners: @fuxingloh, @monstrobishi

Update oss-governance-labeler.yml (#34)
  .github/workflows/oss-governance-labeler.yml
Owners: @fuxingloh, @monstrobishi

Refactored price manager to use provider model
  packages/salmon-price-functions/__test__/fetch_asset_prices.test.ts
  packages/salmon-price-functions/__test__/fetch_asset_prices_multiple.test.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Refactored price manager
  packages/salmon-price-functions/__test__/config.test.ts
  packages/salmon-price-functions/__test__/fetch_asset_prices.test.ts
  packages/salmon-price-functions/__test__/fetch_asset_prices_multiple.test.ts
  packages/salmon-price-functions/__test__/fetch_value.test.ts
  packages/salmon-price-functions/src/index.ts
  packages/salmon-price-functions/src/price_manager.ts
  packages/salmon-price-functions/src/price_provider.ts
  packages/salmon-price-functions/src/providers/finnhubb.ts
  packages/salmon-price-functions/src/providers/iex_cloud.ts
  packages/salmon-price-functions/src/providers/index.ts
  packages/salmon-price-functions/src/providers/tiingo.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Fixed param name
  packages/salmon-oracles-functions/src/index.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Update packages/salmon-price-functions/src/price_provider.ts
  packages/salmon-price-functions/src/price_provider.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Added timestamp assets
  packages/salmon-price-functions/__test__/fetch_asset_prices.test.ts
  packages/salmon-price-functions/__test__/fetch_asset_prices_multiple.test.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Tidy some parts
  packages/salmon-price-functions/src/providers/finnhubb.ts
  packages/salmon-price-functions/src/providers/iex_cloud.ts
  packages/salmon-price-functions/src/providers/tiingo.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Switch from cross fetch to node fetch
  package-lock.json
  package.json
  packages/salmon-price-functions/package.json
  packages/salmon-price-functions/src/providers/finnhubb.ts
  packages/salmon-price-functions/src/providers/iex_cloud.ts
  packages/salmon-price-functions/src/providers/tiingo.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Added timestamp to function
  packages/salmon-oracles-functions/src/index.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Fix whitespace
  packages/salmon-oracles-functions/__tests__/basic_oracle.test.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Made pre-commit exec
  .husky/pre-commit
Owners: @fuxingloh

Tidied up tests
  packages/salmon-price-functions/__test__/fetch_asset_prices.test.ts
  packages/salmon-price-functions/__test__/fetch_asset_prices_multiple.test.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Small tidy up
  packages/salmon-price-functions/__test__/fetch_asset_prices.test.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Fix lint
  packages/salmon-price-functions/__test__/fetch_asset_prices.test.ts
  packages/salmon-price-functions/__test__/fetch_asset_prices_multiple.test.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Tidied up package
  package.json
  packages/salmon-price-functions/package.json
Owners: @fuxingloh, @monstrobishi, @canonbrother

Check timestamp in test
  packages/salmon-oracles-functions/__tests__/basic_oracle.test.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811

Remove log
  packages/salmon-oracles-functions/__tests__/basic_oracle.test.ts
Owners: @fuxingloh, @monstrobishi, @canonbrother, @jingyi2811
